*{
  margin: 0;
  padding: 0;
}

body {  
  height: 100vh; 

  background-image: url('../src/assets/images/background_light.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Rubik', sans-serif;
}