*{
  margin: 0;
  padding: 0;
}

body {  
  height: 100vh; 

  background-image: url('../src/assets/images/background_light.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #999;}
::-webkit-scrollbar-thumb { height: 100px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}